.index {
  &__zap {
    fill: $white;
    margin-right: 0.5em;
    transform: scale(2);
  }

  &__row {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__date {
    padding-right: 1em;
  }

  &__buttons {
    display: flex;
    margin-top: 1em;
    width: 100%;

    @include media-breakpoint-up(md) {
      margin: 0 0 0 auto;
      width: auto;
    }
  }

  &__btn {
    flex-grow: 1;
    margin-left: 0.5em;
  }
}
