.nav {
  &__link {
    color: $white;

    &:hover {
      background-color: $white;
      color: $blue;
    }
  }

  &__home {
    fill: currentColor;
    transform: scale(1.5);
    vertical-align: text-bottom;
  }

  &__info {
    color: $gray-lighter;
    margin-left: auto;
  }
}
