.scores {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 1em;

  &__score {
    border: 0;
    border-radius: 50%;
    color: $white;
    height: 6em;
    margin: 0.75em;
    width: 6em;

    &--red {
      background-color: $red;

      &:focus {
        box-shadow: 0 0 0 1em darken($red,15%);
      }
    }

    &--amber {
      background-color: $orange;

      &:focus {
        box-shadow: 0 0 0 1em darken($orange,15%);
      }
    }

    &--green {
      background-color: $green;

      &:focus {
        box-shadow: 0 0 0 1em darken($green,15%);
      }
    }
  }
}
