<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'Dashboard' }) %>
  </head>
  <body>
    <div class="dashboard" data-id="<%= id %>"></div>
    <%- include('../partials/footer.ejs', { script: 'dashboard' }) %>
  </body>
</html>
