<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'Dashboard' }) %>
  </head>
  <body>
    <div class="dashboard" data-id="<%= id %>"></div>
    <script type="text/javascript" src="/dashboard.js"></script>
  </body>
</html>
