<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'Home' }) %>
  </head>
  <body>
    <div class="index"></div>
    <%- include('../partials/footer.ejs', { script: 'index' }) %>
  </body>
</html>
