<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'Home' }) %>
  </head>
  <body>
    <div class="index"></div>
    <script type="text/javascript" src="/index.js"></script>
  </body>
</html>
