<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'Vote' }) %>
  </head>
  <body>
    <div class="vote" data-id="<%= id %>"></div>
    <%- include('../partials/footer.ejs', { script: 'vote' }) %>
  </body>
</html>
